# Emacs and Vim temp files
*~
[#]*[#]
.\#*
*.swp
# Python files
*.pyc
__pycache__
# Misc files and dirs
.DS_Store
.cache
# Build artifacts, installers or executable files
build
*.exe
*.pdf
*.zip
setup.nsi
# Documentation auxiliary, generated or temp files
docs/imagenes/*.eps
docs/imagenes/*.svg
README.html
