include Makefile
include LICENSE.txt
include LICENSE_ES.txt
include HACKING.txt
include NEWS.txt
include README.rst
include TODO.txt
include CONTRIBUTORS.txt
include requirements.txt
recursive-include pyepbd/examples *.csv
include pyepbd/test/.coveragerc
